* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-y: scroll;
}

.divider {
  height: 1px;
  background: #ccc;
  margin: 25px 0;
}

.container {
  width: 1000px;
  margin: 0 auto;
}
